* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
header div {
  display: flex;
  gap: 50px;
  align-items: center;
}
header div nav {
  display: flex;
  gap: 20px;
}
header input {
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.section1 aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.section1 aside h1 {
  font-size: 55px;
}
.section1 aside p {
  font-size: 22px;
  color: gray;
}
.section1 aside button {
  padding: 15px 40px;
  font-size: 18px;
  background-color: #217BF4;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #E9F2FE;
  color: #217BF4;
}
.section1 aside div button {
  padding: 15px 40px;
  font-size: 18px;
  background-color: #217BF4;
  border: none;
  border-radius: 10px;
  color: white;
}
.section1 aside div button:last-child {
  padding: 15px 40px;
  font-size: 18px;
  background-color: #217BF4;
  border: none;
  border-radius: 10px;
  color: white;
  border: 1px solid #217BF4;
  color: #217BF4;
  background-color: white;
}

.sec2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.sec2 .asi2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.sec2 .asi2 h1 {
  font-size: 36px;
  width: 60%;
}
.sec2 .asi2 p:first-child {
  color: #217BF4;
}
.sec2 .asi2 p {
  font-size: 20px;
  width: 80%;
}
.sec2 .asi2 ul li {
  font-size: 40px;
  color: #217BF4;
}
.sec2 .asi2 ul li p {
  font-size: 30px;
  color: black !important;
}
.sec2 .img2 {
  align-items: center;
  width: 40%;
  display: flex;
  gap: 25px;
}
.sec2 .img2 .img1 {
  height: 50vh;
}
.sec2 .miniimg {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sec3 {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  align-items: start;
  gap: 25px;
}
.sec3 .div3 {
  height: 30vh;
  padding: 2%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.278);
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 25px;
  width: 25%;
}
.sec3 .div3 h1 i {
  color: #217BF4;
}
.sec3 .div3 p b {
  color: #217BF4;
}
.sec3 .div3 p i:first-child {
  color: #217BF4;
}
.sec3 .div3 .divi3 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sec3 .div33 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  height: 30vh;
  gap: 27px;
  width: 40%;
  padding-left: 10%;
}
.sec3 .div33 p:first-child {
  color: #217BF4;
}
.sec3 .div33 h1 {
  font-size: 36px;
  font-weight: bolder;
}
.sec3 .div33 p {
  width: 80%;
}
.sec3 .div33 button {
  padding: 15px 40px;
  font-size: 18px;
  background-color: #217BF4;
  border: none;
  border-radius: 10px;
  color: white;
}

.sec4 {
  max-width: 100%;
  margin: 100px auto;
  padding: 50px 0px;
  background-image: linear-gradient(to bottom, white, #F2F7FE);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.sec4 .text4, .sec4 .sec77 .sec7 .text4, .sec77 .sec7 .sec4 .text4 {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec4 .text4 p:first-child {
  color: #217BF4;
}
.sec4 .text4 p, .sec4 .sec77 .sec7 .text4 p, .sec77 .sec7 .sec4 .text4 p {
  color: #787777;
}
.sec4 .flexbox4 {
  max-width: 1200px;
  margin: auto;
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
}
.sec4 .flexbox4 .box {
  border-radius: 10px;
  background-color: white;
  height: 200px;
  width: 43%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.412);
  display: flex;
  align-items: center;
  padding-left: 5%;
}
.sec4 .flexbox4 .box .gittext {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sec5 {
  max-width: 1200px;
  margin: 100px auto;
  padding: 50px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.sec5 .text5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  width: 100%;
}
.sec5 .text5 .but {
  display: flex;
  align-items: center;
  gap: 60px;
  border-radius: 10px;
  background-color: #F2F7FF;
  padding: 5px 20px 5px 80px;
}
.sec5 .text5 button {
  padding: 15px 40px;
  font-size: 18px;
  background-color: #217BF4;
  border: none;
  border-radius: 10px;
  color: white;
}
.sec5 .img5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec5 .img5 .imgs5 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 23%;
  padding: 20px 0px;
  border: 2px solid rgba(0, 0, 0, 0.058);
}
.sec5 .img5 .imgs5 .m2 {
  position: relative;
  z-index: 1;
}
.sec5 .img5 .imgs5 .m1 {
  position: absolute;
  top: 10%;
}

.sec6 {
  position: relative;
  background-color: #E5F0FD;
  width: 100%;
  padding: 100px 0px;
}
.sec6 img {
  right: 5%;
  width: 40%;
  position: absolute;
  bottom: 0;
}
.sec6 .text6 {
  width: 30%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 25px;
  padding-left: 10%;
}
.sec6 .text6 p:first-child {
  color: #217BF4;
}
.sec6 .text6 h1 {
  font-size: 50px;
}
.sec6 .text6 .butts {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sec6 .text6 .butts .btn1, .sec6 .text6 .butts .btn2 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sec6 .text6 .butts .btn1 i, .sec6 .text6 .butts .btn2 i {
  font-size: 25px;
}
.sec6 .text6 .butts .btn1 {
  background-color: white;
  color: black;
  padding: 10px 20px;
}
.sec6 .text6 .butts .btn2 {
  background-color: #29284E;
  color: white;
  padding: 10px 20px;
}

.sec77 {
  margin: auto;
  max-width: 1300px;
  position: relative;
  display: flex;
  justify-content: center;
}
.sec77 .d1 {
  position: absolute;
  left: 5%;
  top: 25%;
}
.sec77 .d2 {
  position: absolute;
  right: 3%;
  bottom: 36%;
}
.sec77 .sec7 {
  max-width: 1200px;
  margin: 100px auto;
  padding: 50px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.sec77 .sec7 .text4 {
  text-align: center;
}
.sec77 .sec7 .text4 p {
  color: #217BF4;
  padding-bottom: 20px;
}
.sec77 .sec7 .div7 {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.sec77 .sec7 .div7 .divs7 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.sec77 .sec7 .div7 .divs7 .text7 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  color: white;
  width: 100%;
  margin: 50px 0px 0px;
  background-color: #2B2B39;
}
footer .foot {
  max-width: 1200px;
  margin: auto;
  padding: 100px 0px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
footer .foot .foots {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
footer .foot .ts {
  width: 25%;
}
footer .foot .ts div {
  border-radius: 5px;
  padding: 1px 5px;
  border: 2px solid rgba(255, 255, 255, 0.567);
}
footer .foot .ts div input {
  border: none;
  color: white;
  background-color: #2B2B39;
  outline: none !important;
  border-bottom: none;
}
footer .foot .ts div button {
  border: none;
  background-color: white;
  color: #29284E;
  padding: 10px 20px;
  border-radius: 5px;
}
footer .last {
  background-color: #20202D;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}/*# sourceMappingURL=style.css.map */