$mainColor: #217BF4;

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
@mixin auto ( $width){
    max-width: $width;
    margin: 100px auto;
    padding: 50px 0px;
}
@mixin asides{
            display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
}
@mixin container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

@mixin buttons{
    padding: 15px 40px;
    font-size: 18px;
    background-color: $mainColor;
    border: none;
    border-radius: 10px;
    color: white
}

header{
    @include container();
    div{
        display: flex;
        gap: 50px;
        align-items: center;
        nav{
            display: flex;
            gap: 20px;
        }
    }
    input{
        padding: 10px;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
    }
}

.section1{
    @include container();
    aside{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        h1{
            font-size: 55px;
        }
        p{
            font-size: 22px;
            color: gray;
        }
        button{
            @include buttons();
            background-color: #E9F2FE;
            color: $mainColor;
        }
        div{
            button{
                @include buttons;
            }
            button:last-child{
                @include buttons;
                border: 1px solid $mainColor;
                color: $mainColor;
                background-color: white;
            }
        }
    }
}
.sec2{
    @include container();
.asi2{
    width: 50%;
   @include asides();
   h1{
    font-size: 36px;
    width: 60%;
   }
   p:first-child{
    color: $mainColor;
   }
   p{
    font-size: 20px;
   width: 80%;
   }
   ul li{
    font-size: 40px;
    color: $mainColor;
   }
   ul li p{
    font-size: 30px;
    color: black !important;
   }
}
.img2{
    align-items: center;
    width: 40%;
    display: flex;
    gap: 25px;
    .img1{
        height: 50vh;
    }
}
.miniimg{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
    
}
.sec3{ 
max-width: 1200px;
margin: 100px auto;
display: flex;
align-items:start; 
gap: 25px;
    .div3{
        height: 30vh;
        padding: 2%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.278);
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 25px;
        width: 25% ;
         h1 i{
    color: $mainColor;
   }
   p b{
    color: $mainColor;
   }
   p i:first-child{
    color: $mainColor;
   }
        .divi3{
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
.div33{
    @include asides();
    height: 30vh;
    gap: 27px;
   width: 40%;
   padding-left: 10%;
   p:first-child{
     color: $mainColor;
   }
   h1{
    font-size: 36px;
font-weight: bolder;
   }
   p{
    width: 80%;
   }
   button{
    @include buttons();
   }
}
}
.sec4{
    @include auto(100%);
background-image: linear-gradient(to bottom , white , #F2F7FE);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .text4{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        p:first-child{
            color: $mainColor;
        }
        p{
            color: #787777;
        }
    }
    .flexbox4{
        max-width: 1200px;
        margin: auto;
        gap: 25px;
        display: flex;

        flex-wrap: wrap;
        .box{
            border-radius: 10px;
            background-color: white;
            height: 200px;
            width:43% ;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.412);
            display: flex;
            align-items: center;
            padding-left: 5%;
            .gittext{
                display:flex;
                flex-direction: column;
                gap: 20px;
            }
        }

       
    }

}
.sec5{
    @include auto(1200px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    .text5{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
        width: 100%;
        .but{
            display: flex;
            align-items: center;
            gap: 60px;
            border-radius: 10px;
            background-color:#F2F7FF ;
            padding: 5px 20px 5px 80px ;
        }
        button{
            @include buttons();
        }
    }
    .img5{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .imgs5{
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 25px;
width: 23%;
padding: 20px 0px;
        border: 2px solid rgba(0, 0, 0, 0.058);
        .m2{
            position: relative;
            z-index: 1;
        }
        .m1{
            position: absolute;
            top: 10%;
        }
        }
    }
}
.sec6{
    position: relative;
    background-color:#E5F0FD;
    width: 100%;
    padding: 100px 0px;
    img{
        right: 5%;
        width: 40%;
        position: absolute;
        bottom: 0;
    }
    .text6{
        width: 30%;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 25px;
        padding-left: 10%;
        p:first-child{
        color: $mainColor;
        }
        h1{
            font-size: 50px;
        }
        .butts{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 20px;
            .btn1 , .btn2{
                display: flex;
                align-items: center;
                gap: 15px;
                i{
                    font-size: 25px;
                }
            }
            .btn1{
                background-color: white;
                color: black;
                padding: 10px 20px;
            }
            .btn2{
                background-color: #29284E;
                color: white;
                padding: 10px 20px;
            }
        }
    }
   
}
.sec77{
    margin: auto;
 max-width: 1300px;
 position: relative;
 display: flex;
 justify-content: center;
     .d1{
        position:absolute;
        left: 5%;
        top: 25%;
    }
    .d2{
        position: absolute;
        right: 3%;
        bottom: 36%;
    }
 .sec7{
    @include auto(1200px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    .text4{
        @extend .text4;
        text-align: center;
        p{
            color: $mainColor;
            padding-bottom: 20px;
        }
    }
    .div7{
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .divs7{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px ;
            .text7{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}
}
footer{
    color: white;
    width: 100%;
    margin: 50px 0px 0px;
    background-color: #2B2B39;
    .foot{
        max-width: 1200px;
        margin: auto;
        padding: 100px 0px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .foots{
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 20px;
        }
        .ts{
            
            width: 25%;
            div{
                border-radius: 5px;
                padding: 1px 5px;
                border: 2px solid rgba(255, 255, 255, 0.567);
                input{
                    border: none;
                    color: white;
                background-color: #2B2B39;
                    outline: none !important;
                    border-bottom: none;
                }
                button{
                    border: none;
                    background-color: white;
                    color: #29284E;
                    padding: 10px 20px ;
                    border-radius: 5px;
                }
            }
        }
    }
    .last{
        background-color: #20202D;
       width: 100%;
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
a{
 padding: 100px 0px;
 display: flex;
 align-items: center;
 justify-content: center;
    .link{
    padding: 20px 60px;
  border: 3px dashed $mainColor;
  color:  $mainColor; 
  background: none;
  border-radius: 10px;
        font-size: 35px;
}
}